
/*Oakwood ltd Framework v3.0 custom.css */

/* site specific */

/* Overides */

:root {
    --title-align: center;
    --heading-align: center;
}

/* Additions */

.su-codes {
    font-size: 80%;
    font-weight: 500;
}


