/*Oakwood ltd Framework v3.0.0  2026-02-25 */
/* Brand: bbees Variables declaration */

/* General */
:root {

    --brand-primary: #FFD760;   /* Design tokens */
    --brand-accent: black;

   /* --font-brand: ManufacturingConsent, serif; */

    --text-dark: black;
    --text-medium: lightslategrey;
    --text-light: white;
    --text-footer:black;

    --bg-outer: ivory;
    --bg-inner: white;
    --bg-blockquote-table: honeydew;

    --bg-nav-footer: #FFD760;
    --text-nav:black;
    --text-nav-hover:grey;

    --bg-button: #FFD760;;
    --text-button: black;
    --text-button-hover: white;
    --button-radius: 25px;

    --link-color: blue;
    --link-hover-color: navy;

    --bg-card-one: #d8f2ee;
    --bg-card-two: #cde8e4;

}

/* Fonts */

